@if (mensajeDeExito !== '') {
  <div class="alert alert-success text-center alerta-flotante">
    {{ mensajeDeExito }}   
  </div>
}

<div class="menu">
<div class="container mt-4">
  <h3>Actualizar Doctores</h3>
  
  <form #form="ngForm" (ngSubmit)="actualizar()">
    <div class="mb-3">
      <label>ID</label>
      <input type="number" class="form-control" [(ngModel)]="medico.id" name="id" readonly>
    </div>

    <div class="mb-3">
      <label>Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="medico.nombre" name="nombre" required>
    </div>

    <div class="mb-3">
      <label>Especialidad</label>
      <input type="text" class="form-control" [(ngModel)]="medico.especialidad" name="especialidad" required>
    </div>

    <div class="mb-3">
      <label>Años de experiencia</label>
      <input type="number" class="form-control" [(ngModel)]="medico.anios_experiencia" name="años de experiencia" required>
    </div>

    <div class="mb-3">
      <label>Ciudad</label>
      <input type="text" class="form-control" [(ngModel)]="medico.ciudad" name="ciudad" required>
    </div>

        <div class="mb-3">
      <label>Telefono</label>
      <input type="text" class="form-control" [(ngModel)]="medico.telefono" name="telefono" required>
    </div>

    <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" [(ngModel)]="esFemenino" name="esFemenino" id="esFemenino"  >
    <label class="form-check-label" for="esFemenino">
        ¿Es femenino?
    </label>
    </div>

    <div class="mb-3">
      <label>Foto</label><br>
      <button type="button" class="btn btn-secondary" (click)="asignarFotoAleatoria()">Asignar foto aleatoria</button>
      @if(medico.foto){
        <div class="mt-2">
             <img [src]="medico.foto" class="img-thumbnail" width="150">
        </div>
      }       
    </div>   

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
  </form>
</div>
</div>  
